<div class="kc-container flex flex-col items-center align-center">
    <div class="max-w-4xl">
        {% if obj.header %} 
            <h2>{{ obj.header }}</h2>
        {% endif %}
        {% if obj.text %} 
            <div>
                {{ obj.text }}
            </div>
        {% endif %}
    </div>
</div>
