<div class="flex flex-col justify-center align-center items-center py-8">
    <div>
        <a href="{{ obj.cta_link.url }}" class="red-cta no_underline">
            {{ obj.cta_link.title }}
        </a>
    </div>
</div>
