<footer class="bg-charcoal border-t-[15px] border-red mt-24">
    <div class="kc-container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 md:gap-8 py-16 md:py-24">
            <div class="flex flex-col space-y-8">
                <a href="/">
                    <img src="{{ site.theme.link }}/static/logo.svg" class="w-auto h-24 md:h-48"/>
                </a>
                <h4 class="text-white">KC Real Estate Management</h4>
                <h4 class="text-white">Rentals with Value. Management with Heart.</h4>
            </div>
            <div>
                <nav>
                    <ul class="footer-secondary-nav">
                        <li><a href="/commercial-real-estate/" class="no_underline">Commerical Rentals</a></li>
                        <li><a href="/residential-real-estate/" class="no_underline">Apartment Rentals</a></li>
                        <li><a href="/storage-units/" class="no_underline">Storage Units</a></li>
                        <li><a href="/commuter-parking/" class="no_underline">Commuter Parking</a></li>
                        <li><a href="/art-studios/" class="no_underline">Artist Studios</a></li>
                        <li><a href="https://kcre.twa.rentmanager.com/" class="no_underline">Tenant Portal</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex flex-col space-y-12">
                <div class="flex flex-col space-y-2">
                    <h5 class="text-electric_blue">Call Us</h5>
                    <p><a href="tel: 508-400-0500" class="text-white text-lg">508-400-0500</a></p>
                </div>
                <div class="flex flex-col space-y-2">
                    <h5 class="text-electric_blue">Email Us</h5>
                    <p><a href="mailto: info@kcrem.com" class="text-white text-lg">info@kcrem.com</a></p>
                </div>
                <div class="flex flex-col space-y-2">
                    <h5 class="text-electric_blue">Visit Us</h5>
                    <div>
                        <p class="text-white text-lg">2 Canton Street<br/>Suite 222<br/>Stoughton, MA 02072</p>
                    </div>
                </div>
                <div class="flex flex-col space-y-2">
                    <h5 class="text-electric_blue">Mail Us</h5>
                    <div>
                        <p class="text-white text-lg">PO Box 474<br/>Stoughton, MA 02072</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-2">
                <h5 class="text-electric_blue">Affiliated Businesses</h5>
                <div>
                    <a href="https://www.onestoppublishing.com/" class="text-white text-lg">One Stop Publishing</a>
                </div>
                <div>
                    <span class="text-white text-lg">Solid Roofing Company</span>
                </div>
            </div>
        </div>
        <div class="py-12 md:py-4 border-t-2 border-[#696969]">
            <div class="flex flex-col md:flex-row gap-8 w-1/2 md:w-full">
                <div><a href="/privacy/" class="text-white text-lg">Privacy Policy</a></div>
                <div class="hidden md:block"><p class="text-white font-bold">|</p></div>
                <div class=""><a href="/terms-conditions/" class="text-white text-lg">Terms & Conditions</a></div>
                <div class="hidden md:block"><p class="text-white font-bold">|</p></div>
                <div class=""><a href="https://integral-mktgadv.com/" class="text-white text-lg">Site by Integral Marketing & Advertising, LLC</a></div>
            </div>
        </div>
    </div>
</footer>
