{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
					<div class="flex flex-col space-y-12 lg:space-y-24">
						{% for obj in acf.content.value %}
							{% if obj.acf_fc_layout == "homepage_hero" %} 
								{% include 'content/homepage_hero.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "hero" %} 
								{% include 'content/hero.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "team" %} 
								{% include 'content/team.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "imagetext_block" %} 
								{% include 'content/imagetext_block.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "centered_text" %} 
								{% include 'content/centered_text.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "image_boxes" %} 
								{% include 'content/image_boxes.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "testimonials" %} 
								{% include 'content/testimonials.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "textcall_out" %} 
								{% include 'content/textcall_out.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "faqs" %} 
								{% include 'content/faqs.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "contact_us" %} 
								{% include 'content/contact_us.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "listings" %} 
								{% include 'content/listings.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "text" %} 
								{% include 'content/text.twig' %}
							{% endif %}
							{% if obj.acf_fc_layout == "cta" %} 
								{% include 'content/cta.twig' %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
